html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tmdb-logo {
    padding-left: 1em;
}