.hero h1 {
    font-size: 5rem;
    text-align: center;
    padding: 5rem;
}

.cta {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto auto 200px;
    text-align: center;
}

.cta > button {
    margin: auto;
    width: 100px;
}