.background {
    height: 100%;
    background: #F1F1F1;
    background: linear-gradient(135deg, rgba(65, 119, 248, 1) 0%, rgba(241, 241, 241, 1) 60%);
}

.hero {
    max-width: 1620px;
    margin-inline: auto;
}

.hero h1 {
    font-size: 5rem;
    text-align: center;
}

.cta {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto auto 200px;
    text-align: center;
}

.cta > .join {
    font-size: 2rem;
}

.signup-button {
    padding: .7rem 1.4rem;
    color: var(--accent-color);
    margin: auto auto 1rem;
}

.login-cta {
    padding: 1rem;
}