.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding-inline: 4rem;
    align-items: center;
    background-color: var(--gray-background);
}

.logo {
    font-size: 2rem;
    text-decoration: underline;
}

.loginButton {
    height: 2rem;
    color: var(--accent-color);
}

.username {
    margin-inline: 1rem;
}